[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "Awesome/awesome-wm-widgets"]
	path = Awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
